/* MC Stats */
/* Styles for base components */

/********** Headings **********/

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

/********** Canvas **********/

#myCanvas {
    /* background-color: grey; */
    background-image: url(../media/stone.png);
    background-size: 80px;
    background-repeat: tile;
}

/********** Table **********/

table {
    width: 320px;
    margin-left: 160px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-image: url(../media/stone.png);
    background-size: 80px;
    background-repeat: tile;
}

td {
    padding: 5px;
    font-size: 18px;
    font-family: Minecraft, Arial;
}

#leaderboardTable img {
    margin-left: 5px;
}