/* MC Stats */
/* Styles for specific sections of the page */

/********** StatisticsList **********/

#statisticsList {
    width: 240px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    /* text-align-last: center; */
    font-family: Minecraft, Arial;
    font-size: 16px;
}

/********** TypeList **********/

#typeListDiv {
    width: calc(80px * 4);
    text-align: center;
    overflow: hidden;
}
#typeListDiv h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#typeListInput {
    width: 240px;
    font-family: Minecraft, Arial;
    font-size: 16px;
}

/********** ImageDiv **********/

#imageDiv {
    height: 0;
    overflow: hidden;
}