/* MC Stats */
/* Styles for specific sections of the page */

/********** StatisticsList **********/

#statisticsList {
    width: 240px;
    height: 30px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    /* text-align-last: center; */
    font-family: Minecraft, Arial;
    font-size: 16px;
}

/********** Leaderboard Heading **********/

#leaderboardErrorMsg {
    padding: 0;
    margin: 0;
    color: #5e0a13;
}

#leaderboardRefreshBtn {
    width: 40px;
    height: 24px;
    background-image: url(../media/stone.png);
    background-size: 100px;
    position: absolute;
    top: 190px;
    right: 100px;
}

/********** TypeList **********/

#typeListDiv {
    width: calc(80px * 4);
    text-align: center;
    overflow: hidden;
}
#typeListDiv h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#typeListInput {
    width: 240px;
    font-family: Minecraft, Arial;
    font-size: 16px;
}

/********** ImageDiv **********/

#imageDiv {
    height: 0;
    overflow: hidden;
}